In [4]:
c = 0
print(type(c))

<class 'int'>

In [6]:
c = 0
c = 5/2
type(c)

float

In [12]:
name,rollno,age = 'python',132,23.5
type(name)
type(rollno)
type(age)
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [16]:
a,b = 10,20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [1]:
5 in [1,2,3,4]

False

In [2]:
5 not in [1,2,3,4]

True

In [3]:
5 is 5

True

In [4]:
5 is 5

True

In [5]:
5 is not 10

True

In [6]:
'abc' is 'abc' # it will consider id of the strings

True

In [7]:
5.5 is 10.0

False

In [10]:
# conditional control statements
if (7<6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [11]:
range(10)

range(0, 10)

In [12]:
range(2,10)

range(2, 10)

In [13]:
range(2,10,2)

range(2, 10, 2)

In [15]:
for x in range(2,10,2):
    print(x,end=',')

2,4,6,8,

In [16]:
#while
num = 1
while num<6:
    print(num)
    num+=1

1
2
3
4
5

In [17]:
# for
for x in range(1,6):
    print(x)

1
2
3
4
5

In [18]:
for i in 1,2,3:
    print(i)

1
2
3

In [21]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [22]:
for i in 1:
    print(i)

TypeError: 'int' object is not iterable

In [24]:
for  i in "hai":
    print(i)

h
a
i

In [25]:
for i in 1.0:
    print(i)

TypeError: 'float' object is not iterable

In [26]:
range(5,10)

range(5, 10)

In [27]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [29]:
print(1,2)

1 2

In [35]:
print(1,2,sep=",")
print(3,sep=";")
print(3,4,sep=";")
print(1,2,sep=",",end="*")

1,2
3
3;4
1,2*

In [36]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [37]:
# input method
input("enter value:")

enter value:20

'20'

In [40]:
n = input("enter a value:")
print(n,type(n))

enter a value:12.3
12.3 <class 'str'>

In [41]:
1+2

3

In [42]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
1+int("2")

3

In [45]:
num=10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [3]:
l=[1,10,20]
l[3]

IndexError: list index out of range

In [6]:
#4 5 2 6 7 8 -> 6
#4 5 ->2
#45 ->1
6
#n = input().split()
print(len(n),input().split())

4 5 2 6 7 8
6 ['4', '5', '2', '6', '7', '8']

In [7]:
n = input()
print(len(n))

1 2 3 4
7

In [8]:
data=input()#"1 3 5 7 8"
for char in data:
    print(char)

1 3 5 7 8
1

3

5

7

8

In [9]:
n=input().split()
print(len(n))

1 2 3 4
4

In [1]:
data=input()#"1 3 5 7 8"
count = 0
for char in data.split():
    count+=1
   # print(char)
print(count)

1 3 5 7 8
5

In [11]:
data.split(" ")

['1', '3', '5', '7', '8']

In [3]:
data=input()
len(data)

1 2 4 6

7

In [4]:
data=input()
len(data.split())

1 2 4 6

4

In [5]:
print(len,data.split())

<built-in function len> ['1', '2', '4', '6']

In [7]:
print(len(data.split()))

4

In [9]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [2]:
#1,2,3,4,5 -> 15
n = input()
sum = 0
for i in n.split(","):
    sum = sum+int(i)
print(sum)

1,2,3,4,5
15

In [15]:
del sum

NameError: name 'sum' is not defined

In [16]:
sum=5
sum((1,2))

TypeError: 'int' object is not callable

In [1]:
data=input()#1,3,5
values=data.split(",")#['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1,2,3,4,5
15

In [14]:
data=input()
values=data.split(",")#['1','2','3']
#map(method_name,list_of_values)
#list(map(int,values))
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [3]:
l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [9]:
l=['1','2','3','4']
list(map(int,l))

[1, 2, 3, 4]

In [4]:
#t -> number of testcases 3
# next t lines input
#3
#4+5 -> 4\n5
#5+77+0 ->0\n77
#5+7 ->5\n7
t = int(input())
for i in range(t):
    s = input().split("+")
    l = list(map(int,s))
    print(min(s))
    print(max(s))

3
4+5
4
5
4+5+6
4
6
7+8+9
7
9

In [2]:
#1+2+3+14
#1 -> min
#14 -> max
t = input().split("+")
l = list(map(int,t))
print(min(l))
print(max(l))

1+2+3+14
1
14

In [ ]:
# print biggest number
def main(a,b,c):

In [10]:
# Reversing the given number in multiple lines - > 123
text = input()
reverse_text=text[::-1]
#print(reverse_text)
for ch in reverse_text:
    print(ch)

123
3
2
1

In [17]:
a = [print(ch) for ch in input()[::-1]]

123
3
2
1

In [48]:
# Padma Mandala
# M. Padma
first_lastname = input()
#first_lastname.split(" ")
lastname,firstname = first_lastname.split(" ")[::-1]
print(lastname[0],firstname,sep=".  ")

Padma mandala
m.  Padma

In [46]:
a = input()
name = a.split(" ")[::-1]
print(name[0],a[0:5],sep=".")

Padma Mandala
Mandala.Padma

In [33]:
# 90 80 100
marks=input()
marks_list=list(map(int,marks.split()))
print(sum(marks_list)//len(marks_list))

90 80 100
90

In [49]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [52]:
s =""
print(type(s))

<class 'str'>

In [57]:
s = input()
print(s,type(s))

123
123 <class 'str'>

In [58]:
s = input()
s2 = input()
print(s+s2)

123
345
123345

In [60]:
s = "12345"
s2 = int(s)
print(s2,type(s),type(s2))

12345 <class 'str'> <class 'int'>

In [61]:
s = "12padma"
s2 = int(s)
print(s2)

ValueError: invalid literal for int() with base 10: '12padma'

In [65]:
s1 ="1"
s2 = "3"
print(int(s1)+int(s2))
print(type(s1))
print(type(int(s1)))

4
<class 'str'>
<class 'int'>

In [66]:
num1 = int(input())
num2 = int(input())
if num1 > num2:
    diff = num1 - num2
else:
    diff = num2 - num1
    print(diff,end=" ")

100
900
800

In [76]:
def main(num1,num2):
    if num1 > num2:
        sub = num1 - num2
    else:
        sub = num2 - num1
        print(sub)
main(100,300)

200

In [77]:
def main(a,b,c):
    if a>b and a>c:
        print(a)
    elif b > c:
        print(b)
    else:
        print(c)
main(40,10,20)

40

In [79]:
a = int(input())
b = int(input())
c = int(input())
if a>b and a>c:
    print(a)
elif b>c:
    print(b)
else:
    print(c)

599
600
450
600