In [ ]:
###

In [2]:
# Print given characters as a word with starting character capital from and remainder lower
#A P S S D C
#Apssdc
n = input().split()
print(''.join(n).capitalize())

A P S S D C
Apssdc

In [3]:
# 4
# omar
n = int(input())
m = input().split()
print("".join(m).capitalize())

4
O M A R
Omar

In [1]:
n = input() 
print(a.capitalize())
#for i in n:
    #print(i,end="")

A P S S D C

NameError: name 'a' is not defined

In [1]:
word = input().split()
s1 = " "
for i in word:
    s1 = s1+i.lower()
print("".join(s1).capitalize(),end=" ")

a p s s d c
 apssdc

In [4]:
#Print the maximum length word of given words
#Hai hello world
#hello
#world
words=input().split()
lengths=[]
for word in words:
    lengths.append(len(word))
max_length=max(lengths)
for word in words:
    if max_length==len(word):
        print(word)

hai hello world
hello
world

In [11]:
#Print all the words which starts with the given character, 
#If no words matches with the given condition you should print -1
#ramu ravi balu
#r
#ramu
#ravi
words = input().split()
c = input()
match = 0
for word in words:
    if (word.startswith(c)):
        print(word)
        match+=1
if match==0:
    print(-1)

ramu ravi balu
r
ramu
ravi

In [1]:
#Print all the words which words not ends with vowels(a,e,i,o,u)
#ramu ravi balu raju mahesh
#mahesh
words = input().split()
word = ["a","e","i","o","u"]
for ch in words:
    if ch[-1] not in word:
        print(ch)

ramu ravi balu raju mahesh
mahesh

In [45]:
#Print all the words which word contains duplicate characters
#ramu akash balu
#akash
names = input().split()
for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

ramu akash balu
akash

In [15]:
#Swap the case of all characters in given string except last character
#HellowOrld
#hELLOWoRLd
word= input()
word[:-1].swapcase()+word[-1]

HellowOrld

'hELLOWoRLd'

In [14]:
#Print the number of words in a given string (here word starting character contains UPPER letter)
#HelloWorld
#2
word = input()
count=0
for ch in word:
    if ch.isupper():
        count+=1
print(count)

HelloWorld
2

In [17]:

len(list(filter(str.isupper,input())))

HelloWorld

2

In [9]:
 #Print the number of digits, alphabets and any other 
#www.way2sms.com
#DIGITS 1
#ALPHABETS  12
#OTHER 2
n = input()
count1 = 0
count2 = 0
count3 = 0
for i in n:
    if i.isdigit():
        count1=count1+1
        
    elif i.isalpha():
        count2=count2+1
    else:
        count3=count3+1
print(count1,"\n",count2,"\n",count3)

www.way2sms.com
1
 12
 2

In [44]:
#1.Print even and odd numbers up to given range.

#### input : 10 
#### output:
#### even numbers -->  2,4,6,8,10
#### odd numbers --> 1,3,5,7,9
n = int(input())
for i in range(2,10,2):
    for j in range(1,10,2):
        print(i,j)
        
    
    
n = int(input())
for i in range(n):
    if i%2 == 0:
        print(even)
    else:
        print(odd)

10
2 1
2 3
2 5
2 7
2 9
4 1
4 3
4 5
4 7
4 9
6 1
6 3
6 5
6 7
6 9
8 1
8 3
8 5
8 7
8 9
10
10
10
10
10
10
10
10
10
10
10

### List comprehensives:

In [30]:
li = [i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
li = []
for i in range(10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
li = [i**3 for i in range(10)]
li

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [34]:
li = [i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
li = [5*i for i in range(1,11)]
li

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [47]:
li = [i for i in range(1,10,2)]
li

[1, 3, 5, 7, 9]

In [1]:
li = [i for i in range(0,10,2)]
li

[0, 2, 4, 6, 8]

In [3]:
li = [i for i in range(2,11,2)]
li

[2, 4, 6, 8, 10]

In [7]:
li = [iand j for i and j in range(0,10,2) and (2,11,2)]
li

SyntaxError: invalid syntax (<ipython-input-7-13ffbabf0b0b>, line 1)

In [17]:
num = int(input())
for value in range(1,num+1):
    print(num,",",value,"," ,num*value)

5
5 , 1 , 5
5 , 2 , 10
5 , 3 , 15
5 , 4 , 20
5 , 5 , 25

In [33]:
num = int(input())
li = [(num,",",value,",",num*value) for value in range(1,num+1)]
li

5

[(5, ',', 1, ',', 5),
 (5, ',', 2, ',', 10),
 (5, ',', 3, ',', 15),
 (5, ',', 4, ',', 20),
 (5, ',', 5, ',', 25)]

In [21]:
# take one string that convert upper 
word = input()
for ch in word:
    if ch.isupper():
        print(ch.lower(),end="")

PADMA
padma

In [35]:
word = input()
li = [ch.lower() for ch in word]
li

PADMA

['p', 'a', 'd', 'm', 'a']

In [41]:
# print string of digits
num = input()
count = 0
for i in num:
    if i.isdigit():
        count=count+1
print(count)

oad 13242
5

In [15]:
num = input()
li = [count i.isdigit() for i in num]
li

SyntaxError: invalid syntax (<ipython-input-15-22cc7d6cffe1>, line 2)