### Strings in python

In [1]:
name="python programming"

In [2]:
print(type(name))

<class 'str'>

In [3]:
print(len(name))

18

In [4]:
print(name[0])

p

In [8]:
print(name[len(name)-1]),print(len(name)-1)

g
17

(None, None)

In [9]:
name[-2]

'n'

In [10]:
name[-20]

IndexError: string index out of range

In [11]:
name[0]="a"

TypeError: 'str' object does not support item assignment

In [12]:
name="python programming"
name.islower()

True

In [14]:
name="Python"
name.islower()

False

In [17]:
###  Create a function to check first and last characters of given string are capital or not
def captitalornot(s):
        if s[0].isupper() and s[-1].isupper():
            return True
        return False
capitalornot("PadmA")

NameError: name 'capitalornot' is not defined

In [19]:
name="PADMA"
name.lower()
print(name)

PADMA

In [20]:
name.lower()

'padma'

In [21]:
name="PYTHON"
name=name.lower()
print(name)

python

In [22]:
name="padma"
name=name.upper()
print(name)

PADMA

In [25]:
n = input()
for i in n:
    if i.isupper():

padma

In [30]:
createa a function which can identify number or alphabets or others
def identifyMe(name):
    if name.isalpha():
        print("name")
    elif name.isdigit():
        print("numbers")
    else:
        print("others")
identifyMe("padma")

SyntaxError: invalid syntax (<ipython-input-30-b71062a817fd>, line 1)

In [31]:
name="python programming"
print(name.split())

['python', 'programming']

In [33]:
name="python programming"
words=name.split("g")
print(words)

['python pro', 'rammin', '']

In [34]:
name="   python programming"
print("original length",len(name))
result=name.lstrip()
print(result,len(result))

original length 21
python programming 18

In [1]:
numbers=[]
while (True):
    data = input()
    if data=="0":
        numbers.append(0)
        break
    if data.isdigit():
        numbers.append(int(data))
print(numbers)
print("minimum",min(numbers),"maximum",max(numbers),"sum",sum(numbers))

padma
10
amma
5
nanna
7
29
0
[10, 5, 7, 29, 0]
minimum 0 maximum 29 sum 51

In [2]:
def Foo(x):
  if (x==1):
    return 1
  else:
    return x+Foo(x-1)
print(Foo(4))

10

In [6]:
#name="a y y a p p a"
name="a y y a p p a"
s=name.split()
print("".join(s))

ayyappa

In [120]:
students=[("indu","10,20,30,40"),("padma","30,40,80,70")]
for student in students:
    name=student[0]
    marks_string=student[1]  #"10,20,30"
    list_string=marks_string.split(",") #["10","20","30"]
    total_marks=0
    for subject_marks in list_string:
        total_marks+=int(subject_marks)
    print(name,total_marks)

indu 100
padma 220

### paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
- xyz
- abc
- mnp
- "asdf dfaa asdf"
- asd
- "fdas asdsdaff"

In [50]:
paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
for i in paragraph:
    print(i,end="")

xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"

In [66]:
paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
sentences=paragraph.split('"')
print(sentences)
for sentence in sentences:
    if len(sentence)>0:
        if sentence.endswith(" "):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

In [3]:
### print the names that is not ending with "i" and "u"
names=["pdma","lakshmi","indu","ganga"]
for name in names:
    if name[-1]  in ["i","u"]:
    #if name.endswith("i") or name.endswith("u"):
        print(name)

lakshmi
indu

In [4]:
###  string slicing

In [2]:
name="python programming"
result = name[7:18]
print(result)

programming

In [3]:
print(name[10:14])

gram

In [4]:
print(name[0:10:3])

ph o

name="python programming"
for ch in name:
    print(ch)

### Tuples

In [14]:
my_tuple=(1,2,3,4)
len(my_tuple)

4

In [9]:
print(my_tuple[0])

1

### tuple.count(item)

In [11]:
my_tuple.count(1)

1

### tuple.index(item)

In [15]:
print(my_tuple)
my_tuple.index(4)

(1, 2, 3, 4)

3

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [18]:
min(my_tuple)

1

In [19]:
max(my_tuple)

4

In [20]:
sum(my_tuple)

10

In [21]:
my_tuple[0:3]

(1, 2, 3)

In [26]:
my_tuple=(1,2,3,1,2,3)
my_tuple.index(2,3)

4

In [28]:
my_tuple=("1","2","3",4,5)
for each in my_tuple:
    print(each,type(each))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'int'>
5 <class 'int'>

In [55]:
#sum of digits
rollno="13A85A0504"
total=0
for i in rollno:
    if i.isdigit():
        total+=int(i)
print(total)

26

In [63]:
# reverse the string  without [::-1]
name=input()
li=[]
num=len(name)
for char in range(num-1,-1,-1):
    li.append(name[char])
print("".join(li))

padma
amdap

In [90]:
#print the names which has duplicate characters
"ramu ravi akash"
#akash
names=input().split()
for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

ramu ravi akash
akash

In [113]:
names=input().split()
match=0
for name in names:
    if len(set(name))!=len(name):
            print(name)
            match+=1
if match==0:
    print(-1)

ramu ravi akash
akash

In [114]:
names=input()
print(set(names))

qpeqowiureow
{'r', 'p', 'u', 'i', 'o', 'e', 'q', 'w'}

In [78]:
# "ramu ravi"
#-1
names=input().split()
for name in names:
    if name.startswith("r"):
        print(name)
    else:
        print(-1)

ramu ravi padma
ramu
ravi
-1

In [96]:
#"1+2+3+4"
#10
n = input().split("+")
s=0
for i in n:
    s+=int(i)
print(s,end=" ")

1+2+3+4
10